/build.xml
/manifest.mf
/nbproject/
/build/
/dist/
/src/krak/kdv_unload.txt
/src/krak/kdv_node_unload.txt
/src/resources/osm_roads.txt
/src/resources/osm_intersections.txt
/src/resources/new_osm_roads.txt/src/resources/converted_osm_roads.txt